<div class="container">
    <div class="modal fade" id="mdEndereco" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Endereço</strong></h4>
                </div>
                <div class="modal-body" id="divEndereco">

                    <div class="form-horizontal">
                        
                        <div class="form-group">
                            <label for="cep" class="control-label col-md-2">CEP</label>
                            <div class="col-md-10">
                                <strong id="cep"></strong>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="bairro" class="control-label col-md-2">Bairro</label>
                            <div class="col-md-10">
                                <strong id="bairro"></strong>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cidade" class="control-label col-md-2">Cidade</label>
                            <div class="col-md-10">
                                <strong id="cidade"></strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="estado" class="control-label col-md-2">Estado</label>
                            <div class="col-md-10">
                                <strong id="estado"></strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="logradouro" class="control-label col-md-2">Logradouro</label>
                            <div class="col-md-10">
                                <strong id="logradouro"></strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numero" class="control-label col-md-2">Número</label>
                            <div class="col-md-10">
                                <strong id="numero"></strong>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>
